<%= form_for(@blog_link) do |f| %>
  <% if @blog_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_link.errors.count, "error") %> prohibited this blog_link from being saved:</h2>

      <ul>
      <% @blog_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
