<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :done_for_today %><br>
    <%= f.check_box :done_for_today %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="field">
    <%= f.label :date_completed %><br>
    <%= f.datetime_select:date_completed %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :links %><br>
    <%= f.text_field :links %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select(category_select, @task.category) %>
  </div>
  <div class="field">
    <%= f.label :sub_category %><br>
    <%= f.select :sub_category, options_for_select(sub_category_select, @task.sub_category) %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :comm_info %><br>
    <%= f.text_field :comm_info %>
  </div>
  <div class="field">
    <%= f.label :last_worked_on %><br>
    <%= f.datetime_select :last_worked_on %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-info' %> 
  </div>
<% end %>
