<p id="notice"><%= notice %></p>
<div class="pull-left">
  <%= link_to 'Back', tasks_path, {:style=>'color:white;', :class => "btn btn-primary"} %>
</div>
<center>
  <h2 style="color: #1E5A53">Calendar</h2>
</center><br></br>

<table class="table-striped" width = "1400">
  <thead>
    <tr>
      <th><%= DateTime.now.strftime("%b %a %d") %></th>
      <% x = 0 %>
      <% while x < 6 %>
      <% x = x + 1 %>
      <th><%= (Date.today + x).strftime("%a %d")%></th>
      <% end %>
    </tr>
    <tr>
      <% x = -1 %>
      <% while x < 8 %>
        <% x = x + 1 %>
          <td width="200" height="100">
            <%Task.where(just_date: Date.today.to_date + x).each do |t| %>
               <%= t.name %>
               <%= t.deadline.strftime("%I:%M") %><br>
             <%end%>
           </td>
      <% end %> 
    </tr>
    <tr>
      <% x = 6 %>
      <% while x > 5 && x < 13 %>
      <% x = x + 1 %>
      <th><%= (Date.today + x).strftime("%a %d")%></th>
      <% end %>
    </tr>
    <tr>
      <% x = 6 %>
      <% while x > 5 && x < 13 %>
        <% x = x + 1 %>
          <td width="200" height="100">
            <%Task.where(just_date: Date.today.to_date + x).each do |t| %>
               <%= t.name %>
               <%= t.deadline.strftime("%I:%M") %><br>
             <%end%>
           </td>
      <% end %> 
    </tr>
    <tr>
      <% x = 13 %>
      <% while x > 12 && x < 20 %>
      <% x = x + 1 %>
      <th><%= (Date.today + x).strftime("%a %d")%></th>
      <% end %>
    </tr>
    <tr>
      <% x = 13 %>
      <% while x > 12 && x < 20 %>
        <% x = x + 1 %>
          <td width="200" height="100">
            <%Task.where(just_date: Date.today.to_date + x).each do |t| %>
               <%= t.name %>
               <%= t.deadline.strftime("%I:%M") %><br>
             <%end%>
           </td>
      <% end %> 
    </tr>
    <tr>
      <% x = 20 %>
      <% while x > 19 && x < 27 %>
      <% x = x + 1 %>
      <th><%= (Date.today + x).strftime("%a %d")%></th>
      <% end %>
    </tr>
    <tr>
      <% x = 20 %>
      <% while x > 19 && x < 27 %>
        <% x = x + 1 %>
          <td width="200" height="100">
            <%Task.where(just_date: Date.today.to_date + x).each do |t| %>
               <%= t.name %>
               <%= t.deadline.strftime("%I:%M") %><br>
             <%end%>
           </td>
      <% end %> 
    </tr>
  </thead>
 


