<%= stylesheet_link_tag "tasks" %>
  <div class="task_header pull-left">
    <h1 style="color: #1E5A53; text-shadow: 1px 4px 1px white;"><%= Date.today.strftime( "%A" ) %><i>tasks</i></h1>
  </div>
  <ul class="nav nav-pills pull-right task_nav"> 
      <li><%= link_to 'New Task', new_task_path, {:style=>'color:#927017;', :class => 'btn btn-default'} %></li>
      <li><%= link_to "Career", careers_path(:priority), {:style=>'color:white;', :class => 'btn btn-dirt'} %></li>
      <li><%= link_to 'Study', studies_path, {:style=>'color:white;', :class => 'btn btn-dirt'} %></li>
      <li><%= link_to 'Fit Post', fit_posts_path, {:style=>'color:white;', :class => 'btn btn-dirt'} %></li>
      <li><%= link_to "Priority", tasks_path(:priority), {:style=>'color:brown;', :class => 'btn btn-success'} %></li>
      <li><%= link_to 'Archive', archive_path, {:style=>'color:brown;', :class => 'btn btn-success'} %></li>
      <li><%= link_to 'Links', links_path, {:style=>'color:brown;', :class => 'btn btn-success'} %></li>
      <li><a class="btn btn-success" style="color: brown;" href="/tasks/calendar">Calendar</a></li>
      <% x = 1 %>
      <% while x > 0 && x < 3 %>
        <li><a class="btn btn-gray" style="color: green;;" href="/practice<%= x %>">Practice<%= x %></a></li>
        <% x += 1 %>
      <% end %>
      <li><a class="btn btn-default" style="color: #5BDCEB;" href="http://www.weather.com/weather/hourbyhour/graph/80227">Weather</a></li>
      <li><a class="btn btn-default" style="color: #5BDCEB;" href="http://finance.yahoo.com/q;_ylt=AsCON6EETHyuQCXV57HQ93Inv7gF?uhb=uh3_finance_vert_gs_ctrl2&fr=uh3_finance_vert_gs_ctrl2_e&type=2button&s=c">Quote</a></li>
</ul>
<div>
<table class="table-striped">
  <thead>
    <tr>
      <th></th>
      <th><center>Name</center></th>
      <th><center>Deadline</center></th>
      <th><center>Priority</center></th>
      <th><center>Notes</center></th>
      <th><center>Links</center></th>
      <th><center>Category</center></th>
      <th><center>Contact</center></th>
    </tr>
  </thead>
  
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
      <% if task.completed == false %>
        <td  width="50"><div class="field">
          <% if DateTime.now.day == task.updated_at.day %>
            <%= check_box_tag :done_for_today, "", task.done_for_today %>
          <% else %>
            <%= check_box_tag :done_for_today, "", false %>
          <% end %>
            </div>
        </td>
        <td width="150">
          <% if Time.now >= task.deadline - (60*60*24)%>
            <p style="color: #927017"><b><%= task.name %></b></p>
          <% elsif Time.now <= task.deadline - (60*60*24*15)%>
            <p style="color: silver"><%= task.name %></p>
          <% else %>
            <%= task.name %>
          <% end %>
        </td>
        <td width="120"><b><%= task.deadline.strftime("%a, %d @ %H:%M") %></b></td>
        <% if task.priority == 1 %>
          <td width="50"><center><p style="color: #927017"><b><%= task.priority %></b></p></center></td>
        <% else %>
          <td width="50"><center><%= task.priority %></center></td>
        <% end %>
        <td width="150"><p style="color: rgba(6, 72, 133, 0.85)"><%= task.notes.chars[0..20].join %></p>
        <% if task.notes.length > 20 %>
          <u><a href="/tasks/notes/<%= task.id %>" style="color: rgba(6, 72, 133, 0.85)">more...</a></u></td>
        <% end %>
        <td width="110"><%= task.links.chars[0..12].join %></td>
        <td width="110"><p style="color: gray"><%= task.category.chars[0..12].join %></p></td>
        <td width="110"><%= task.contact %></td>
        <td><%= link_to 'Show', task, {:style=>'color:white;', :class => 'btn btn-success'} %></td>
        <td><%= link_to 'Edit', edit_task_path(task), {:style=>'color:white;', :class => 'btn btn-info'} %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary', :style => 'color: white;'%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<div>
<% Study.all.each do |s| %>
  <% if s.priority == 1 && DateTime.now.day == s.deadline.day %>
    <b style="color: #927017"><%= "FYI - Study Task '#{s.name}' is due today" %></b>
  <% end %>
<% end %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @tasks %>
</div>

TO DO: make notes like editable blog posts, scaffold user


