<div class="container">
  <div class="row">
    <div class="col-md-4 pull-left">
      <h1 style="color: rgba(153, 130, 9, 0.86); text-shadow: 2px 2px 4px white;"><%= Date.today.strftime( "%A" ) %><i>tasks</i></h1>
    </div>
    <div class="col-md-4">
      <%= link_to 'Archive', archive_path, {:style=>'color:white;', :class => 'btn btn-primary'} %>
      <%= link_to 'New Task', new_task_path, {:style=>'color:black;', :class => 'btn btn-default'} %>
      <a style="color: rgba(6, 72, 133, 0.85); text-shadow: 2px 2px white;" href="http://www.weather.com/weather/hourbyhour/graph/80227">Hourly Weather</a>
      <a style="color: green; text-shadow: 2px 2px white;" href="http://finance.yahoo.com/q;_ylt=AsCON6EETHyuQCXV57HQ93Inv7gF?uhb=uh3_finance_vert_gs_ctrl2&fr=uh3_finance_vert_gs_ctrl2_e&type=2button&s=c">Quote "C"</a>
      <a href="/tasks/calendar" style="color: blue">calendar</a>
  </div>
</div>
<div class="container row">
<table class="table-striped">
  <thead>
    <tr>
      <th>Done for today</th>
      <th>Name</th>
      <th>Last worked on</th>
      <th>Deadline</th>
      <th>Priority</th>
      <th>Notes</th>
      <th>Links</th>
      <th>Category</th>
      <th>Sub Category</th>
      <th>Contact</th>
      <th>Location</th>
      <th>Comm info</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.order(:priority).each do |task| %>
      <tr>
      <% if task.completed == false %>
        <td><div class="field">
          <% if DateTime.now.day == task.updated_at.day %>
            <%= check_box_tag :done_for_today, "", task.done_for_today %>
          <% else %>
            <%= check_box_tag :done_for_today, "", false %>
          <% end %>
            </div>
        </td>
        <td width="150">
          <% if Time.now >= task.deadline - (60*60*24)%>
            <p style="color: #C03333"><%= task.name %></p>
          <% else %>
            <%= task.name %>
          <% end %>
        </td>
        <td width="50" align="left" valign="top"><%= task.last_worked_on.strftime("%b/%-d") %></td>
        <td width="75"><b><%= task.deadline.strftime("%a, %d @ %H:%M") %></b></td>
        <% if task.priority == 1 %>
          <td width="25"><center><p style="color: red"><%= task.priority %></p></center></td>
        <% else %>
          <td width="25"><center><%= task.priority %></center></td>
        <% end %>
        <td width="100"><p style="color: black"><%= task.notes.chars[0..20].join %></p>
        <% if task.notes.length > 20 %>
          <u><a href="/tasks/notes/<%= task.id %>" style="color: blue">more...</a></u></td>
        <% end %>
        <td><%= task.links.chars[0..10].join %></td>
        <td><p style="color: #550808"><%= task.category.chars[0..7].join %></p></td>
        <td><p style="color: green"><%= task.sub_category.chars[0..8].join %></td>
        <td><%= task.contact %></td>
        <td><p style="color: purple"><%= task.location %></p></td>
        <td><%= task.comm_info.chars[0..12].join %></td>
        <td><%= link_to 'Show', task, {:style=>'color:white;', :class => 'btn btn-success'} %></td>
        <td><%= link_to 'Edit', edit_task_path(task), {:style=>'color:white;', :class => 'btn btn-info'} %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :style => 'color: white;'%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
Today's prediction....

<!-- %= predict_arr[rand(predict_arr.length)] %>

% @locations.each do |location| %>    
  <td>%= location.city %></td>
  <td>%= location.state_code %></td>
  <td>%= location.latitude %></td>
  <td>%= location.longitude %></td>
% end %>
</div>
--!>

<br>



<div class="flickr_pagination">
  <%= will_paginate @tasks %>
</div>



TO DO: - calendar page - user_id on the task table - scaffold user 


