<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @task.date_completed %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @task.notes %>
</p>

<p>
  <strong>Links:</strong>
  <%= @task.links %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Sub Category:</strong>
  <%= @task.sub_category %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @task.contact %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

<p>
  <strong>Comm info:</strong>
  <%= @task.comm_info %>
</p>

<p>
  <strong>Last worked on:</strong>
  <%= @task.last_worked_on %>
</p>

<%= link_to 'Edit', edit_task_path(@task), {:style=>'color:white;', :class => "btn btn-info"} %> |
<%= link_to 'Back', tasks_path, {:style=>'color:white;', :class => "btn btn-warning"} %>
