<%= stylesheet_link_tag "careers" %>
<ul class="nav nav-pills pull-center careers_nav">
<%= link_to 'Home', tasks_path, {:style=>'color:white;', :class => "btn btn-blue"} %>
</ul>
<p class="title_bar">Career Reference</p>
<table class="table-striped">
  <thead>
    <tr>
      <th>Area</th>
      <th>Next up</th>
      <th>Notes</th>
      <th>Links</th>
      <th>Materials</th>
      <th>Priority</th>
      <th>Last worked on</th>
    </tr>
  </thead>
  <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%= career.area %></td>
        <td><%= career.next_up %></td>
        <td><%= career.notes.chars[0..20].join %></td>
        <td><%= link_to career.links, "http://#{career.links}" %></td>
        <td><%= career.materials %></td>
        <td><center><%= career.priority %></center></td>
        <td><center><%= career.last_worked_on.strftime("%d") %></center></td>
        <td><%= link_to 'Show', career, {:style=>'color:white;', :class => 'btn btn-blue'}  %></td>
        <td><%= link_to 'Edit', edit_career_path(career), {:style=>'color:white;', :class => 'btn btn-white'}  %></td>
        <td><%= link_to 'Destroy', career, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-red', :style => 'color: white;' %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>
<%= link_to 'New Career Item', new_career_path %>
