<%= stylesheet_link_tag "challenge" %>
<header class="header" >
<center><p class="pad" style="font-family: moonspace; font-size: 40px; color: #731817; text-shadow: 2px 2px 2px white;">Challenge</p></center>
<nav>
<%= link_to 'Home', tasks_path, {:style=>'color:white;', :class => "btn btn-orange"} %>
</nav>
</header>

<%= @check_weight %><br>
Last Weigh In: <%= FitPost.last.weight %><br>
Next Weigh In: <%= FitPost.last.weight %> or lower.<br>
Exception:<%= FitPost.last.weight %><br>

Need to work on number field for check weight. Hard coded in controller at the moment