<%= stylesheet_link_tag "fit_posts" %>
<header class="header" >
<center><p class="pad" style="font-family: moonspace; font-size: 40px; color: #ff6600; text-shadow: 2px 2px 2px white;">Daily Health Journal</p></center>
<nav>
<%= link_to 'Home', tasks_path, {:style=>'color:white;', :class => "btn btn-orange"} %>
<%= link_to 'New Fit post', new_fit_post_path, {:style=>'color: #ff6600;', :class => "btn btn-white"} %>
</nav>
<hr style="background-color:#ff6600; height:3px;" />
</header>

<table class="table-striped">
  <thead class>
    <tr>
      <th class="pad"><center>Date</center></th>
      <th class="pad"><center>Total Calories</center></th>
      <th class="pad"><center>Weight</center></th>
      <th class="pad"><center>Focus</center></th>
      <th class="pad"><center>Breakfast</center></th>
      <th class="pad"><center>Lunch</center></th>
      <th class="pad"><center>Dinner</center></th>
      <th class="pad"><center>Snacks</center></th>
      <th class="pad"><center>Calorie tracking complete</center></th>
      <th class="pad"><center>Exercise</center></th>
      <th class="pad"><center>Model day</center></th>
    </tr>
  </thead>

  <tbody>
    <% @fit_posts.each do |fit_post| %>
      <tr>
        <td><%= fit_post.date.strftime("%d") %></td>
        <% if fit_post.brk_cals != nil && fit_post.lunch_cals != nil && fit_post.dinner_cals != nil && fit_post.snack_cals != nil%>
          <td><%= fit_post.brk_cals + fit_post.lunch_cals + fit_post.dinner_cals + fit_post.snack_cals%></td>
        <% else %>
          <td>not entered</td>
        <% end %>
        <td><%= fit_post.weight %></td>
        <td><%= fit_post.focus %></td>
        <td><%= fit_post.breakfast %></td>
        <td><%= fit_post.lunch %></td>
        <td><%= fit_post.dinner %></td>
        <td><%= fit_post.snacks %></td>
        <% if fit_post.cal_track_complete == true %>
          <td>Yes</td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= fit_post.exercise %></td>
        <% if fit_post.model_day == true %>
          <td>Yes</td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', fit_post, {:style=>'color:white;', :class => 'btn btn-orange'} %></td>
        <td><%= link_to 'Edit', edit_fit_post_path(fit_post), {:style=>'color:white;', :class => 'btn btn-blue'} %></td>
        <td><%= link_to 'Destroy', fit_post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-white', :style => 'color: #ff6600;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


