<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @fit_post.date %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @fit_post.weight %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @fit_post.focus %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @fit_post.breakfast %>
</p>

<p>
  <strong>Brk cals:</strong>
  <%= @fit_post.brk_cals %>
</p>

<p>
  <strong>Lunch:</strong>
  <%= @fit_post.lunch %>
</p>

<p>
  <strong>Lunch cals:</strong>
  <%= @fit_post.lunch_cals %>
</p>

<p>
  <strong>Dinner:</strong>
  <%= @fit_post.dinner %>
</p>

<p>
  <strong>Dinner cals:</strong>
  <%= @fit_post.dinner_cals %>
</p>

<p>
  <strong>Snacks:</strong>
  <%= @fit_post.snacks %>
</p>

<p>
  <strong>Snack Cals:</strong>
  <%= @fit_post.snack_cals %>
</p>

<p>
  <strong>Water extract 64oz:</strong>
  <%= @fit_post.water_extract_64oz %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @fit_post.exercise %>
</p>

<p>
  <strong>Accomplishment:</strong>
  <%= @fit_post.accomplishment %>
</p>

<p>
  <strong>Model day:</strong>
  <%= @fit_post.model_day %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @fit_post.energy %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @fit_post.notes %>
</p>

<%= link_to 'Edit', edit_fit_post_path(@fit_post) %> |
<%= link_to 'Back', fit_posts_path %>
