<%= stylesheet_link_tag "studies" %>
<ul class="nav nav-pills pull-center studies_nav">
  <li><%= link_to 'New Study Task', new_study_path, {:style=>'color:blue;', :class => "btn btn-white"} %></li>
  <li><%= link_to 'Home', tasks_path, {:style=>'color:yellow;', :class => "btn btn-blue"} %></li>
  <li><%= link_to 'Links', links_path, {:style=>'color:yellow;', :class => 'btn btn-blue'} %></li>
  <li><%= link_to 'Blogs', blog_links_path, {:style=>'color:yellow;', :class => 'btn btn-blue'} %></li>
  <li><%= link_to 'Timeline', timelines_path, {:style=>'color:yellow;', :class => 'btn btn-blue'} %></li>
  <% x = 1 %>
  <% while x > 0 && x < 4 %>
    <li><a class="btn btn-yellow" style="color: blue; "href="/practice<%= x %>">Practice<%= x %></a></li>
    <% x += 1 %>
  <% end %>
</ul>
<h1>To Study</h1><br>
<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Next up</th>
      <th>Deadline</th>
      <th>Priority</th>
      <th>Category</th>
      <th>Links</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td width="150">
          <% if Time.now >= study.deadline - (60*60*24)%>
            <p style="color: blue"><b><%= study.name %></b></p>
          <% elsif Time.now <= study.deadline - (60*60*24*15)%>
            <p style="color: silver"><%= study.name %></p>
          <% else %>
            <%= study.name %>
          <% end %>
        </td>
        <td><%= study.next_up.chars[0..20].join %></td>
        <td><center><%= study.deadline.strftime("%d") %></center></td>
        <td><center><%= study.priority %></center></td>
        <td><%= study.category %></td>
        <td><a href="http://<%= study.links %>"><%= study.links.chars[0..10].join %></a></td>
        <td><%= study.notes.chars[0..10].join %></td>
        <td class="pad"><%= link_to 'Show', study, {:style=>'color:yellow;', :class => 'btn btn-blue'} %></td>
        <td><%= link_to 'Edit', edit_study_path(study), {:style=>'color:blue;', :class => 'btn btn-yellow'} %></td>
        <td><%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-white', :style =>'color:blue;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

