<%= stylesheet_link_tag "studies" %>
<div class="title_bar">
<p>Listing links</p>
</div>
<%= link_to 'Home', tasks_path, {:style=>'color:white;', :class => "btn btn-white"} %>
<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Category</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Rank</th>
      <th>Language</th>
      <th>Visited</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
      <% if link.address.chars[0..6].join == "http://" || link.address.chars[0..7].join == "https://" %>
        <td width="150"><a href="<%= link.address %>"><%= link.address.chars[0..10].join %></a></td>
      <% else %>
        <td width="150"><a href="http://<%= link.address %>"><%= link.address.chars[0..10].join %></a></td>
      <% end %>
        <td><%= link.category %></td>
        <td><%= link.description %></td>
        <td><%= link.notes.chars[0..54].join %></td>
        <td><%= link.rank %></td>
        <td><%= link.language %></td>
        <td><%= link.visited %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
